# ignore byte-compiled python files
__pycache__/
*.py[cod]
*$py.class
fusion_pruning_experiments/data/cifar-10-python.tar.gz
fusion_pruning_experiments/data/cifar-100-python.tar.gz
fusion_pruning_experiments/data/*
fusion_pruning_experiments/models/*
fusion_pruning_experiments/logger_files/*
results_and_plots_o/*
fusion_pruning_experiments/experiment_parameters.json
